<html>
<body>
<form action="/processlogin" method="get">
User ID: <input type="text" name="id" />
Password: <input type="password" name="password" />
<br><br>
<input type="submit" value="Login">
</form>
<p>
<%= msg %>
</p>
</body>
</html>
