<html>
<body>
<form action="/" method="post">
User ID: <input type="text" name="id" /><br>
Password: <input type="password" name="password" />
<br><br>
<input type="submit" value="Login">
</form>
<p>
<%= msg %>
</p>
</body>
</html>
