<!DOCTYPE html>
<html>
<body>

<h1>Rate this restaurant</h1>

<form action="/rate?_id=<%=id %>" method="post" enctype="multipart/form-data">
  <p>Score between 1-10:</p>

<input type="radio" name="score" value="1">
  <label for="score">1</label><br>
<input type="radio" name="score" value="2">
  <label for="score">2</label><br>
<input type="radio" name="score" value="3">
  <label for="score">3</label><br>
<input type="radio" name="score" value="4">
  <label for="score">4</label><br>
<input type="radio" iname="score"value="5">
  <label for="score">5</label><br>
<input type="radio" name="score" value="6">
  <label for="score">6</label><br>
<input type="radio" name="score" value="7">
  <label for="score">7</label><br>
<input type="radio" name="score" value="8">
  <label for="score">8</label><br>
<input type="radio" name="score" value="9">
  <label for="score">9</label><br>
<input type="radio" name="score" value="10">
  <label for="score">10</label><br>


  
<input type="submit" value="Submit">
</form>

</body>
</html>

