<HTML>
    <BODY>
        <H1>
        Logged in
    </H1>
<p>
You are currently logged in as <%= user %>.
</p>
<a href="/new">
        <button class="btn btn-default">Create New Restaurant</button>
      </a>
    </BODY>
</HTML>
