<!DOCTYPE html>
<html>
<body>

<h1>Search</h1>

<form action="/search" method="post" enctype="multipart/form-data">

 <p>
            <p>
                Name:<input name="name" type="text">
                </p>
            <p>
                Borough:<input name="borough" type="text">
                </p>
            <p>
                <p>
                    Cuisine:<input name="cuisine" type="text">
                    </p>
                <p>


  
<input type="submit" value="Submit">
</form>

</body>
</html>

